.header {
  left: 5%;
  top: 10%;
  width: 100%;
  height: 100%;
  border-bottom: solid;
  border-width: 1px;
  border-color: #0d6da8;
  display: flex;
  align-items: center;
  background-color: #45b1f5;
}

.body {
  background-color: #ffbd61;
}

.main-img-cont{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 10rem;
}

.logo {
  margin: 0.25rem;
  width: 5rem;
  height: 3rem;
}

.nav-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  margin-left: 0.5rem;
  font-family: 'Oxanium', cursive;
  font-size: 1.25rem;
}

.nav-item-link {
  color: white;
  text-decoration: none;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:row;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  background-color: #f5ab45;
}

.main-img {
  width: 50%;
  height: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
}

.title {
  font-weight: bold;
  font-family: 'Oxanium', cursive;
  font-size: 2rem;
  color: #0d6da8;
}

.author {
  font-weight: 700;
  font-family: 'Oxanium', cursive;
  font-size: 1.25rem;
  color: #333;
}

.description {
  font-size: 1rem;
  margin-top: 1.5rem;
  font-family: 'Courier Prime', monospace;
  color: #333;
}

.title .author .description{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.categorias {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.categorias-item {
  background-color: #f5ab45;
  margin-top: 1rem;
  display: inline-flex;
  flex-direction: row;
  height: 10rem;
  width: 40rem;
}

.categorias-img {
  width: 50%;
  height: 10rem;
}

.categorias-description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  font-family: 'Courier Prime', monospace;
  color: #333;
}
.sections-menu-item-text-title{
  padding-bottom: 0.5rem;
}

.components {
  flex-direction: column;
  margin-top: 2rem;
}

.components-init {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-family: 'Oxanium', cursive;
  color: #0d6da8;
}

.components-list {
  margin-right: 100px;
  font-family: 'Courier Prime', monospace;
}

.categorias-description-title {
  font-family: 'Oxanium', cursive;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  color: #0d6da8;
}

.components-list-item {
  color: #333;
}

.burger-button {
  position: absolute;
  margin-left: 2rem;
  display: none;
}

.burger-button-img {
  display: none;
  width: 3rem;
  height: 3rem;
  margin-right: 0.2rem;
  margin-left: 14rem;
}

@media (max-width: 375px) {
  .container-1 {
    height: 25rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .categorias-item {
    width: 100%;
  }
  .main-img {
    width: 100%;
    height: 50%;
  }

  .nav-buttons{
    position: fixed;
    width: 40%;
    height: 30%;
    left: -1000px;
    display: block;
    transition: 1s;
    background-color: #45b1f5;
  }

  .nav-item{
    font-family: 'Oxanium', cursive;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .burger-button-img {
    display: block;
  }

  .burger-button-img:hover + .nav-buttons{
    display: block;
    transition: 1s;
    left: 0px;
    top: 0px;
  }
}
